:root {
  --white: #ffffff;
  --black: #000000;
  --black-900: #171717;
  --black-800: #212121;
  --black-600: #202020;
  --gray: #4f4f4f;
  --gray-800: #333333;
  --gray-700: #535353;
  --gray-600: #828282;
  --gray-400: #f2f2f2;
  --green: #27ae60;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--black-900);
  color: var(--white);
}

a {
  color: var(--white);
  font-size: 16px;
}

#header-home {
  display: flex;
  flex-direction: column;
}

/* header css */
#header-home > nav {
  display: flex;
  justify-content: space-between;
  padding: 1.87rem 5rem 1.87rem 1rem;
  align-items: center;
}

#header-home > nav > a {
  font-size: 2.25rem;
  font-weight: 700;
}

#header-home > nav > ul {
  display: flex;
  gap: 2.5rem;
}

#header-home > section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

#header-home > section > .container-text {
  align-self: center;
  display: flex;
  flex-direction: column;
  max-width: 453px;
}

#header-home > section > .container-text > p {
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
}

#header-home > section > .container-text > span {
  font-size: 1rem;
  color: var(--gray-600);
}

#header-home > section > .container-text > a {
  align-self: flex-start;
  margin-top: 2.188rem;
  padding: 0.75rem 1.688rem;
  background-color: var(--green);
  text-align: center;
}
#header-home > section > .container-text > a:hover {
  cursor: pointer;
}
#header-home > section > .container-image > img {
  max-width: 496.89px;
  max-height: 496.89px;
  border: 1.625rem solid #1e1d1d4d;
  border-radius: 50%;
}

@media (min-width: 1020px) {
  #header-home {
    height: 100vh;
  }
}

@media (max-width: 600px) {
  #header-home > nav > a {
    font-size: 2rem;
  }

  #header-home > nav > ul {
    display: none;
  }

  #header-home > section > .container-text {
    align-items: center;
    max-width: 353px;
    text-align: center;
  }

  #header-home > section > .container-text > p {
    font-size: 2rem;
    text-align: center;
  }

  #header-home > section > .container-text > a {
    align-self: center;
  }

  #header-home > section > .container-image > img {
    max-width: 396.89px;
    border: 1rem solid #1e1d1d4d;
  }
}

@media (max-width: 400px) {
  #header-home > nav > a {
    font-size: 1.5rem;
  }

  #header-home > section > .container-image > img {
    max-width: 296.89px;
  }
}

@media (max-width: 300px) {
  #header-home > nav > a {
    font-size: 1.25rem;
  }

  #header-home > section > .container-text > p {
    font-size: 1.7rem;
  }

  #header-home > section > .container-image > img {
    max-width: 196.89px;
  }
}

/* main css */
#main-home {
  margin-top: 2.938rem;
}

#main-home > .container-section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7.5rem;
}

#main-home > .container-section-about > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 745px;
  gap: 2.375rem;
  margin-bottom: 2.375rem;
}

#main-home > .container-section-about > div > h1 {
  font-size: 3rem;
  font-weight: 700;
}

#main-home > .container-section-about > div > p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 23.44px;
}

#main-home > .container-section-about > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6.438rem;
}

#main-home > .container-section-about > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#main-home > .container-section-about > ul > li > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-800);
  width: 62px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: 1.125rem;
}

#main-home > .container-section-about > ul > li > div > i {
  background-color: var(--green);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

#main-home > .container-section-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4.813rem;
}
#main-home > .container-section-skills > .box-services {
  display: flex;
  flex-direction: column;
  row-gap: 4.25rem;
}
#main-home > .container-section-skills > .box-services > h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
#main-home > .container-section-skills > .box-services > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.75rem;
}
#main-home > .container-section-skills > .box-services > ul > li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.125rem 3.125rem;
  background-color: var(--black-800);
  row-gap: 1.813rem;
}
#main-home > .container-section-skills > .box-services > ul > li:hover {
  cursor: pointer;
}
#main-home > .container-section-skills > .box-services > ul > li > img {
  width: 2.563rem;
  max-width: 3.563rem;
  height: 2.5rem;
  max-height: 3.5rem;
}
#main-home > .container-section-skills > .box-services > ul > li > span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray-700);
}

#main-home > .container-section-skills > .box-skills {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.75rem;
}
#main-home > .container-section-skills > .box-skills > h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
#main-home > .container-section-skills > .box-skills > ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4.5rem;
  padding: 1.563rem 3.5rem;
  background-color: var(--black-800);
  border: 1px solid var(--gray-800);
}
#main-home > .container-section-skills > .box-skills > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main-home > .container-section-skills > .box-skills > ul > li > i {
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--gray);
  text-align: center;
}
#main-home > .container-section-skills > .box-skills > ul > li > span {
  font-size: 2rem;
  font-weight: 700;
  color: var(--green);
  text-align: center;
}
#main-home > .container-section-about > ul > li > a:hover {
  color: var(--green);
}

@media (max-width: 600px) {
  #main-home > .container-section-about > div {
    max-width: 445px;
  }

  #main-home > .container-section-about > ul {
    gap: 4.438rem;
  }
}

@media (max-width: 450px) {
  #main-home > .container-section-about > div {
    max-width: 345px;
  }
}

@media (max-width: 300px) {
  #main-home > .container-section-about > div {
    max-width: 245px;
  }
  #main-home > .container-section-skills > .box-services > ul > li {
    padding: 1.125rem 2.125rem;
    row-gap: 1.813rem;
  }
  #main-home > .container-section-skills > .box-skills > ul {
    max-width: 200px;
  }
  #main-home > .container-section-skills > .box-skills > ul > li > i {
    font-size: 2.5rem;
  }
  #main-home > .container-section-skills > .box-skills > ul > li > span {
    font-size: 1rem;
  }
}
dialog::backdrop {
  background-color: rgb(0 0 0 / 0.5);
}
dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 2rem;
  margin: auto;
  gap: 1rem;
  background-color: var(--black-600);
}
dialog[open] > span {
  color: var(--gray-400);
}
dialog[open] > a {
  padding: 0.75rem 1.688rem;
  background-color: var(--green);
  text-align: center;
}
dialog[open] > input {
  color: var(--gray-400);
  align-self: flex-end;
  background-color: brown;
  padding: 0.25rem;
  border: none;
  border-radius: 10px;
}
dialog[open] > input:hover {
  cursor: pointer;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 5rem 5.813rem 5rem;
}
footer > a {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray);
}

#header-projects {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
#main-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 2rem 0;
}
#main-projects > section {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#main-projects > section > h1 {
  margin: 1rem 0;
}
#main-projects > section > h1.back-end {
  color: var(--green);
}
#main-projects > section > h1.front-end {
  color: #963beb;
}
#main-projects > section > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
#main-projects > section > ul > li > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--gray-600);
  padding: 2rem;
  border-radius: 1rem;
}
#main-projects > section > ul > li > a.back-end {
  border: 1px solid var(--green);
}
#main-projects > section > ul > li > a.front-end {
  border: 1px solid #963beb;
}
#main-projects > section > ul > li > a:hover {
  cursor: pointer;
  border: 1px solid var(--gray-600);
}
