:root {
    --white: #FFFFFF;
    --black: #000000;
    --black-900: #171717;
    --black-800: #212121;
    --black-600: #202020;
    --gray: #4F4F4F;
    --gray-800: #333333;
    --gray-600: #828282;
    --gray-400: #F2F2F2;
    --green: #27AE60;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black-900);
    color: var(--white);
}

a {
    color: var(--white);
    font-size: 16px;
}

header {
    display: flex;
    flex-direction: column;
}

/* header css */
header>nav {
    display: flex;
    justify-content: space-between;
    padding: 1.87rem 5rem 1.87rem 1rem;
    align-items: center;
}

header>nav>a {
    font-size: 2.25rem;
    font-weight: 700;
}

header>nav>ul {
    display: flex;
    gap: 2.5rem;
}

header>section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

header>section>.container-text {
    align-self: center;
    display: flex;
    flex-direction: column;
    max-width: 453px;
}

header>section>.container-text>p {
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
}

header>section>.container-text>span {
    font-size: 1rem;
    color: var(--gray-600);
}

header>section>.container-text>a {
    align-self: flex-start;
    margin-top: 2.188rem;
    padding: 0.75rem 1.688rem;
    background-color: var(--green);
    text-align: center;
}



header>section>.container-image>img {
    max-width: 596.89px;
    border: 1.625rem solid #1e1d1d4d;
    border-radius: 50%;
}

@media (min-width: 1020px) {
    header {
        height: 100vh;
    }
}

@media (max-width: 600px) {
    header>nav>a {
        font-size: 2rem;
    }

    header>nav>ul {
        display: none;
    }

    header>section>.container-text {
        align-items: center;
        max-width: 353px;
        text-align: center;
    }

    header>section>.container-text>p {
        font-size: 2rem;
        text-align: center;
    }

    header>section>.container-text>a {
        align-self: center;
    }

    header>section>.container-image>img {
        max-width: 396.89px;
        border: 1rem solid #1e1d1d4d;
    }
}

@media (max-width: 400px) {
    header>nav>a {
        font-size: 1.50rem;
    }

    header>section>.container-image>img {
        max-width: 296.89px;
    }
}

@media (max-width: 300px) {
    header>nav>a {
        font-size: 1.25rem;
    }

    header>section>.container-text>p {
        font-size: 1.70rem;
    }

    header>section>.container-image>img {
        max-width: 196.89px;
    }
}

/* main css */
main {
    margin-top: 2.938rem;
}

main>.container-section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7.5rem;
}

main>.container-section-about>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 745px;
    gap: 2.375rem;
    margin-bottom: 2.375rem;
}

main>.container-section-about>div>h1 {
    font-size: 3rem;
    font-weight: 700;
}

main>.container-section-about>div>p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 23.44px;
}

main>.container-section-about>ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6.438rem;
}

main>.container-section-about>ul>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main>.container-section-about>ul>li>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-800);
    width: 62px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 1.125rem;
}

main>.container-section-about>ul>li>div>i {
    background-color: var(--green);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

main>.container-section-about>ul>li>a:hover {
    color: var(--green);
}

@media (max-width: 600px) {
    main>.container-section-about>div {
        max-width: 445px;
    }

    main>.container-section-about>ul {
        gap: 4.438rem;
    }
}

@media (max-width: 450px) {
    main>.container-section-about>div {
        max-width: 345px;
    }
}

@media (max-width: 300px) {
    main>.container-section-about>div {
        max-width: 245px;
    }
}